{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <!-- Div for Profile Details -->
    <div class="general-post-profile container-fluid">
        <div id="Profile-Pic" class="left-div col-2 container-fluid">
            <!-- {{ requested_profile.profile_picture|default:"uploads/Default-Profile.png" }} -->
            {% if requested_profile.profile_picture %}
                {{ requested_profile.profile_picture }}
            {% else %}
                <img src="/media/uploads/Default-Profile.png" alt="Default Profile Picture" width="250" height="200">
            {% endif %}
        </div>

        <!-- Details Div-->
        <div id="Details" class="right-div col-10 container-fluid">
            <h6><strong>{{ requested_user.username }}</strong></h6>
            <!-- Number of Followers, Following -->
            <div class="follow-div same-line-div">
                <span class="left-div responsive-text">{{ follower_num }} <strong>Followers</strong></span>
                <span class="right-div responsive-text">{{ following_num }} <strong>Following</strong></span>
            </div>

            <!-- Follow Button for any User other than Current User -->
            {% if user != requested_user %}
                <div class="container-fluid">
                    <form method="post" action="{% url 'profile' requested_user.User_Profile.profile_id %}">
                        {% csrf_token %}
                        {% if requested_user in user.following_list.all %}
                            <input type="hidden" value="{{ requested_user.id }}">
                            <button type="submit" class="btn-sm btn-primary button-margins-follow responsive-text" name="Unfollow-Button" value="Unfollow">Unfollow</button>
                        {% else %}
                            <button type="submit" class="btn-sm btn-primary button-margins-follow responsive-text" name="Follow-Button" value="Follow">Follow</button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Personal Post -->
    {% for post in personal_page_obj %}
        <!-- Individual Post -->
        <div class="general-post">
            
            <h6><a href="{% url 'profile' post.user.User_Profile.profile_id %}">{{ post.user.username }}</a> commented that:</h6>

            <!-- Edit Functionality -->
            <form>
                {% csrf_token %}

                <!-- Edit Button should be present iif I am the OP of the post -->
                {% if user == post.user %}
                    <button class="btn-sm btn-primary button-margins Edit-Button" id="Edit-Button-{{ post.post_id }}" value="{{ post.post_id }}">Edit</button>
                {% endif %}
            </form>

            <!-- Post Details-->
            <div id="Post-{{ post.post_id }}" class="container-fluid Post-View">
                <div name="Post-Contents" class="Post-Contents" id="Post-Contents-{{ post.post_id }}">
                    {{ post.post_content }}
                </div>

                <!-- Check if Post was Edited -->
                {% if post.post_edited %}
                    <span id="Post-Edited-Timestamp-{{ post.post_id }}">Edited on: {{ post.post_edited_timestamp }}</span>
                {% else %}
                    <span id="Post-Timestamp-{{ post.post_id }}">Posted on: {{ post.post_timestamp }}</span>
                {% endif %}
            </div>

            <!-- Edit Div -->
            <div id="Edit-Form-{{ post.post_id }}" class="container-fluid Edit-View">
                <form class="Edit-Form">
                    {% csrf_token %}

                    <textarea class="form-control" placeholder="Edit here!!" id="Edit-Body-{{ post.post_id }}"></textarea>
                    <!-- Buttons to save or cancel edits -->
                    <button type="submit" class="btn-sm btn-primary button-margins Save-Edit-Button"  id="Save-Edit-Button-{{ post.post_id }}" value="{{ post.post_id }}">Save</button>
                    <button type="submit" class="btn-sm btn-primary button-margins Cancel-Edit-Button" id="Cancel-Edit-Button-{{ post.post_id }}" value="{{ post.post_id }}">Cancel</button>
                </form>
            </div>
            
            <div id="Post-Buttons-{{ post.post_id }}">   
                <!-- Like/Unlike Functionality -->
                <span id="Num-Likes-{{ post.post_id }}">{{ post.post_num_likes }}</span>

                <div id="Post-Unlike-Div-{{ post.post_id }}">
                    <button class="btn-sm btn-secondary button-margins Post-Unlike-Button" id="Post-Unlike-Button-{{ post.post_id }}" value="{{ post.post_id }}">Unlike</button>
                </div>
                
                <div id="Post-Like-Div-{{ post.post_id }}">
                    <button class="btn-sm btn-secondary button-margins Post-Like-Button" id="Post-Like-Button-{{ post.post_id }}" value="{{ post.post_id }}">Like</button>
                </div>

                <!-- TODO: Comment Buttons -->
                <!-- <button class="btn-sm btn-secondary button-margins">Comment</button> -->
            </div>
            
        </div>

    {% endfor %}

    <!-- Paginator at Bottom of Page -->
    <!-- Aria Label to describe purpose of Navigation Bar -->
    <nav>
        <ul class="pagination justify-content-center">
            
            <!-- Bring me to Page 1. &laquo represents << symbol -->
            {% if personal_page_obj.number == 1 %}
                <li class="page-item disabled"><a class="page-link" href="?page=1">&laquo; First</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            {% endif %}

            <!-- If we are not on the First Page -->
            {% if personal_page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ personal_page_obj.previous_page_number }}">{{ personal_page_obj.previous_page_number }}</a></li>
            {% endif %}

                <!-- Active to show Current Page -->
                <li class="page-item active"><a class="page-link" href="?page={{ personal_page_obj.number }}">{{ personal_page_obj.number }}</a></li>
            

            <!-- If we are not on the Last Page -->
            {% if personal_page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ personal_page_obj.next_page_number }}">{{ personal_page_obj.next_page_number }}</a></li>
            {% endif %}

            {% if personal_page_obj.number == personal_page_obj.paginator.num_pages %}
                <!-- Symbol for >> -->
                <li class="page-item disabled"><a class="page-link" href="?page={{ personal_page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ personal_page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}

        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}